<!--
Invoice dynamically rendered into html using handlebars and converted into pdf
using chrome-pdf recipe. The styles are extracted into separate asset for
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the
incoming API request.
!-->

<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset invoice-styles.css @encoding=utf8}
        </style>
    </head>
    <body>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
				    <h3 class="text-center font-weight-bold mb-1">HOJA DE RUTA</h3>
					<p class="text-center font-weight-bold mb-0">Nº de tramite: {{tramit}}</p>
									<p class="text-center mb-0">Fecha: {{createdAt}}</p>
					<p class="text-center font-weight-bold mb-0"><small>Ciudad: {{city}}</small></p>
                    <div class="row pb-2 p-2">
                        <div class="col-md-6">
						<h4>Empresa</h4>
                         <p class="mb-0"><strong>Nombre</strong>: {{business.name}}</p>
                         <p class="mb-0"><strong>Registro:</strong> {{ business.nit}}</p>						 
                         <p><strong>Encargado:</strong> {{ manager}}</p>						 
                        </div>

                        <div class="col-md-6 text-right">
						 <h4>Vehiculo</h4>
                         <p class="mb-0"><strong>Transporte</strong>: {{ vehicle.transport}}</p>
                         <p class="mb-0"><strong>Placa</strong>: {{ vehicle.number}}</p>
                         <p class="mb-0"><strong>Marca</strong>: {{ vehicle.brand}}</p>
                         <p><strong>Volumen de carga</strong>: {{ vehicle.volume}}</p>
                        </div>
                    </div>
					<hr></hr>
					<h5 class="text-center">PRODUCTOS</h5>
					</div>
                    <div class="table-responsive">
					<table class="table table-bordered mb-0">
						<thead>
							<tr>
								<th class="text-uppercase small font-weight-bold">Sustancia</th>
								<th class="text-uppercase small font-weight-bold">T. Primaria</th>
								<th class="text-uppercase small font-weight-bold">P. Terminado</th>
								<th class="text-uppercase small font-weight-bold">%</th>
								<th class="text-uppercase small font-weight-bold">Cantidad</th>
								<th class="text-uppercase small font-weight-bold">Unidad Kg/Lit</th>
								<th class="text-uppercase small font-weight-bold">Tipo</th>
								<th class="text-uppercase small font-weight-bold">Cantidad</th>
								<th class="text-uppercase small font-weight-bold">Nombre</th>
							</tr>
						</thead>
						<tbody>
							{{#each products}}
								<tr>
								<td>{{substance}}</td>
								<td>{{ types.primary}}</td>
								<td>{{ types.product}}</td>
								<td>{{ types.percentage}}</td>
								<td>{{ amount}}</td>
								<td>{{ unit }}</td>
								<td>{{ container.type }}</td>
								<td>{{ container.amount }}</td>
								<td>{{ name }}</td>
							</tr>
							{{/each}}
						</tbody>
						<tfoot class="font-weight-bold small">
						 <tr>
							<td colspan="3">Total</td>
							<td>1800</td>
							<td> </td>
							<td>0.00</td>
							<td> </td>
							<td>900</td>
							<td>1000</td>
						 </tr>
						 <tr>
							<td colspan="9">Amount in words: Rs One Thusend Five Hundrate only 
							<span class="float-right">Balance:2000</span>
							</td>
							
						 </tr>
						 <tr>
							<td colspan="9">Card: 20000</td>
						  </tr>
						</tfoot>
                      </table>
                            <hr>
                <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h4>MEDIO DE TRANSPORTE:</h4>
                        <div>
                            <strong>Card Name:</strong> Visa<br>
                            <strong>Card Number:</strong> ***** 332<br>
                            <strong>Exp Date:</strong> 09/2020<br>
                        </div>
                    </div>
                </div>
          	 </div>
             <hr>                
               </div>
            </div>
        </div>
    </div>
    </body>
</html>
